@use "components/card";

#Earth{
    position: fixed;
    top: 0;
    right: 0;
    transition: filter,opacity, 0.5s ease;
    transition-delay: 0s;
    width: 100vw;
    height: 100%;
    z-index: 0;
  }

  .country-list{
    max-width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-left: 10vw;
    z-index: 2;
    position: relative;

    h2, h3{ margin: 3px 0;}
    ul{ 
      list-style: none;
      padding: 0;

      li{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding: 5px;
        box-sizing: border-box;
        background: transparent;
        transition: background 0.2s ease;
        border-bottom: solid 1px var(--blue70);
        cursor: pointer;

        @media(hover:'hover'){
          &:hover{
            background: linear-gradient(45deg, #4248636e, transparent);
            svg{ fill: var(--paper); }
          }
        }

        h3{
          display: flex;
          flex-direction: row;
          align-items: center;
          text-transform: capitalize;
          gap: 10px;
        }
        svg{
          fill:var(--blue50);
        }
      }
    }


  }
  
  
  #timeline_wrapper{
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: auto;
  
    &::-webkit-scrollbar{
      width: 0;
      display: none;
    }
  }
  
  #timeline_settings{
    pointer-events: none;
    left: 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    & > *{
      pointer-events: auto;
    }
    
    & > p{
      flex-shrink: 0;
      display: flex;
      align-items: center;
      gap: 3px;
      color: var(--blue30);
      transition: color 0.2s ease;
      *{ cursor: pointer; }
      margin: 0;

      svg{
        fill: var(--blue30);
        transform: fill 0.2s ease;
      }

      @media(hover:'hover'){
        &:hover{
          color: var(--paper);
          svg{ fill: var(--paper); }
        }
      }
    }

    header{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 120px;
      & >*{margin: 0;}
      h4{
        color: var(--blue20);
        text-transform: capitalize;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;

        &[data-country='china']{ color: #ED4C5C; }
        &[data-country='taiwan']{ color: #ED4C5C; }
      }

      .timeline-segment-headline{
        text-align: center;
        box-sizing: border-box;
        padding: 0 120px;
        pointer-events: none;
        & > *{margin: 3px;}
      }
    }
  
    #country_select{
      margin: 0;
      float: right;
      left: 10%;
      background: none;
      border: none;
      list-style: none;
      padding: 0;
      z-index: 2;
      pointer-events: none;
      margin-right: 25px;
  
      & li > div{
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .ico{
        background-color: transparent;
      }
  
      small{ margin: 0; margin-right: 10px; }

      &.active{
        li{
          &, &:not(:first-of-type){ pointer-events: auto; }
        }
      }
  
    }
  
    #history_sidelist{
      flex-shrink: 0;
      width: 250px;
      transition: opacity 0.2s ease-out;
      ul{
        -webkit-mask-image: linear-gradient(0deg, transparent 0%, black 5%, black 95%, transparent 100%);
        color: var(--blue30);
        list-style: none;
        padding-left: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        position: absolute;
        top: 0;
        max-height: 30vh;
        overflow-y: auto;
        &:first-of-type{ position: relative; }
        &::-webkit-scrollbar-track {
          background: #6c6c6c2e;
          border-radius: 13px;
        }
      }
  
      p{ color:var(--blue20); }
  
      .dot_events{
        &:hover{ transform:none; }
      }
      li{
        display: flex;
        position: relative;
  
        &:not(:last-of-type){
          section{
            &:first-of-type::before {
                content: '';
                width: 0.5px;
                display: block;
                height: 100%;
                position: absolute;
                top: 0;
                background: var(--paper);
            }
          }
        }
  
        section{
          &:first-of-type{
            display: flex;
            justify-content: center;
            margin-right: 10px;
          }
          &:last-of-type{
            margin-right: 20px;
            margin-bottom: 6px;
          }
        }
  
      }
  
      & > section{
        transition: opacity 0.2s ease;
        position: relative;
      }
  
    }
  }
  
  
  
  
  .sideContent li section:first-of-type, .sideEvents li section:first-of-type{ color: var(--lightblue); }
  .sideContent li[name='movies']  section:first-of-type{ color: var(--red); }

  
#date_container{
    display: inline-block;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    color: var(--paper);
  
    & > section{
      position: fixed;
      height: 100vh;
    }
  
    &:not([data-country='world']){
      #Earth{ opacity: 0; }
    }
  
  }
  
  
  #list_timeline{
    display: grid;
    grid-template-columns: repeat(8,25vw);
    width: max-content;
    position: absolute;
    column-gap: 10vw;
    top: 5vh;
    white-space: nowrap;
  }
  
  #chrono{
    width: 100%;
    height: 100vh;
    display: block;
    position:relative;
    top:0;
    left: 0;
    opacity: 0.3;
  }
  
  #chrono_timeline{
    height: calc(100vh/4);
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 4vh;
  
    & > *{
      position: absolute;
    }
  
    #chrono_bar{
      height: 1px;
      min-width: 90%;
      width: 300vw;
  
      &::after {
        content: '';
        width: 106%;
        display: block;
        height: 100%;
        transform: translateX(-2%);
        background: linear-gradient(90deg,transparent, var(--paper) 5%, var(--paper) 95%, transparent);
      }
    }
  }
  
  
  #chrono_events_bar{
    position: relative;
  }
  
  .chrono_small_events{
    transition: left 0.3s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position:absolute;
  
    p{
      margin: 0;
      padding-left: 0;
    }
  
    .longevity{
      position: absolute;
      display: block;
      height: 3px;
      left: 0px;
      z-index: 0;
      background:var(--lightblue);
      border-radius: 10em;
    }
  
    section{
      white-space: nowrap;
      margin: 5px;
      position: absolute;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .chrono_label{
      max-width: 125px;
    }
  
  }
  
  
  .dot_events{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: var(--paper);
    border: solid 4px;
    z-index: 2;
    transition: transform 0.2s ease;
    pointer-events: auto;
    &, *{ cursor: pointer; }
    
    &.small{
      width: 7px;
      height: 7px;
      border-width: 3px;
    }
  
    &:hover{
      transform: scale(1.2);
    }
  }
  
  
  .chrono_popup{
  
    display: block;
    opacity: 0;
    transition: opacity 0.3s;
    padding: 10px;
    width: max-content;
    max-width: 400px;
    z-index: 2;
    transform: translateY(-110%);
    top: 0;
    overflow: hidden;
    position: relative;
    height: min-content;
    box-sizing: border-box;
    padding: 10px 7px;
    text-align: left;
    @include card.card('light');
    h4,p,a{color: var(--blue80);}

    .detail_content{
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: flex-start;
      text-align: left;
      white-space: break-spaces;

      .detail_header{
        display: flex;
        flex-direction: column;
        gap: 3px;
        h4{ font-size: 20px; }
      }
    }

    

    img{
      max-width: 100%;
      transition: filter 0.3s ease;
    }
    .source{ float: right; }
  
    .movie-poster{
      max-width:100%;
      box-shadow: none;
      section{margin:0 !important;}
      img{box-shadow: none;}
    }
  
    
  
    p{
      background:transparent !important;
      white-space: normal !important;
    }
  
    h4,h3{ margin: 0; }

  
    .summary{
      white-space: normal;
      width: 100%;
    }
  
    .content_group_movies{
        p{
          color: var(--blue80);
        }
        & > div{
          display: flex;
          flex-wrap: nowrap;
          overflow: auto;
        }
        .carousel{
          margin-top: 10px;
          .movie-poster{
            margin-right: 8px;
            box-shadow:none;
          }
        }
      }
  
      .content_list_event{
        padding: 5px 0;
        display: flex;
        word-wrap: break-word;
        justify-content: space-between;
        gap:20px;
  
        .content{
          flex-direction: row;
          column-gap: 10px;
          display: flex;
          white-space: break-spaces;
        }
  
        .hyperlink{
          display: flex;
          align-items: center;
        }
  
        &:not(:last-of-type){
          border-bottom: solid var(--blue20) 1px;
        }
  
      }
  }
  
  
  
  .group{
    & > span{
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
  
      *{
        color: var(--paper);
        font-weight: bold;
      }
    }
  }
  
  
  .chrono_movies{
    color:var(--red);
    z-index: 4;
    &.group{
      & > span{ background-color: var(--red); }
      .chrono_popup{
        img{
          width: 100px;
          padding: 0;
        }
  
        & > span{  background-color: var(--lightblue); }
      }
    }

    &.solo{
      display: flex;
      .chrono_popup{
        display: grid;
        grid-template-columns: 75px auto;
        gap: 10px;
      }

    }
  }
  
  
  
  .chrono_mixed{
    &.group{
      & > span{
        z-index: 4;
        background-image: linear-gradient(var(--lightblue) 49%, var(--red) 50%);
        border: none;
        width: 28px;
        height: 28px;
        *{ color: var(--blue90); position: relative;}
        &::before{
          content: '';
          width: 75%;
          height: 75%;
          position: absolute;
          background: var(--paper);
          border-radius: 100%;
        }
      }
    }
  }
  
  
  .chrono_label {
    width: max-content;
    text-align: left;
    overflow: visible;
    transform: rotate(45deg);
    transform-origin: center left;
    left: 25%;
    top: 50%;
    margin: 5;

    small{
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  
  .chrono_small_events {
    .chrono_label{
      pointer-events: none;
      transition: opacity 0.3s ease;
  
      p{
        text-overflow: ellipsis;
        white-space: pre;
        overflow: hidden;
        pointer-events: none;
      }
    }
  }
  
  .chrono_events {
    flex-direction: column-reverse;
    color:var(--lightblue);
    z-index: 3;
    &.group{
      & > span{ background-color: var(--lightblue); }
    }
  }
  
  .chrono_segments{
    height: 100%;
    display: flex;
    flex-direction: row;
    pointer-events: none;
    transition: left 0.4s ease-out;
  
    h4, p{
      margin: 0;
      color:var(--paper);
    }

    &.active{
      z-index: 2;
      & > section{
      
        background: linear-gradient(0deg, var(--paper) -211%, rgba(26, 31, 39, 0) 90%);
      }

      .chrono_pillar{
        border-color: var(--paper);
        p{ color: var(--paper); }

      }
    }
  
    & > section{
      position: absolute;
      width: calc(100% - 2px);
      height: 50%;
      background: transparent;
      transition: background 0.2s ease;
    }
  
    .chrono_pillar{
      width: 2px;
      height: 100%;
      display: block;
      border-left: dashed var(--blue30) 1px;
      position: absolute;
      color: var(--blue30);
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
      pointer-events: none;
      transition: margin-left 0.3s ease-out;
  
      p{
        color: var(--blue30);
        transform: translate(-50%, -110%);
        position: absolute;
      }
  
      &:last-of-type{
        position: relative;
      }
    }
  
  }
  