@use "round";

@mixin card($theme: 'default'){

    @include round.round-border;
    border: solid 1px;
    box-shadow: 0 5px 7px #00000054;


    @if $theme == 'default'{
      background: linear-gradient(341.13deg, rgb(79 135 177 / 16%) 0.43%, rgb(130 168 255 / 15%) 117.66%);
      background: linear-gradient(341.13deg, #0f1520 0.43%, #262b38 117.66%);
      color: var(--blue10);
      border-color: var(--blue50);
    }
    @if $theme == 'light'{
      background: var(--blue0);
      border-color: var(--blue20);
      color: var(--blue80);
    }

  }