@use "round";

@mixin card($theme: 'default'){

    @include round.round-border;
    border: solid 1px;
    box-shadow: rgb(0 0 0 / 60%) 0px 4px 4px;


    @if $theme == 'default'{
      background: linear-gradient(341.13deg, rgb(79 135 177 / 16%) 0.43%, rgb(130 168 255 / 15%) 117.66%);
      background: linear-gradient(341.13deg, #0f1520 0.43%, #262b38 117.66%);
      color: var(--paper);
      border-color: var(--blue50);
    }
    @if $theme == 'light'{
      background: var(--paper);
      border-color: var(--blue30);
      color: var(--blue80);
    }

  }